/** {margin:0 auto; padding: 0;}*/
ul li {list-style: none;}
a {color:#333; text-decoration: none;}
img {vertical-align: top; border: 0;}

/* main page */
#bg1 {
	width:100%;
	height: 20px;
	background: #00b3fe;
}
#main_out {
	width:100%;
	position: relative;
	
}
#menu {
	width:100%;
	margin-top:20px;
}
#logo {
	margin-top:10px;
}
#search_ser {
	position:absolute;
	top:0px; 
	left: 240px;
}
#search_ser > ul >  li {
	float:left;
	margin-left: 20px;
}
#ser {
	left: 260px; 
	height: 50px;
	border:solid 2px gray;
}
#se_br {
	height: 50px;
	background:none;
	border: 0;
}
#tit1 {
	margin-left: 30px;
	margin-top:20px;
}
#shop_list {
	width:100%;
	position: relative;
}
.item {
    width:100%; 
	height:100%;
	border-top:solid 1px gray;
	border-bottom:solid 1px gray;
	margin-top: 20px;
    padding: 20px;
}
.item:hover {
	background:#f6f6f6;
}
.item > .pro_img:hover {
	border:solid 2px skyblue;
}
.pro_img {
	width:40px;
	height:80px;
	border:solid 1px #d5d5d5;
	position: absolute;
	margin-left: 10px;
	margin-top:10px;
}
.pro_nt {
	font:bold 16px 'malgun gothic';
    margin-left:80px;
	margin-top:10px;
	color:black;
}
.pro_desc {
    margin-left:80px;
	margin-top:10px;
	color:black;
}
.pro_spec {
    margin-left:80px;
	margin-top:10px;
	color:black;
}
.pro_colour {
    margin-left:80px;
	margin-top:10px;
	color:black;
}
.pro_onhand {
    margin-left:80px;
	margin-top:10px;
	color:darkblue;
}
.pro_warranty {
    margin-left:80px;
	margin-top:10px;
	color:black;
}
.pro_price {
	font:bold 14px 'malgun gothic';
	color:red;
	margin-left:80px;
    margin-top:10px;
}

/* subpage */
#content{
	width: 100%;
	position: relative;
	margin-top:30px;
}
#shopname {
	width:190px;
	height: 170px;
	background:#ff4e4e;
	/*position: absolute;*/
	/*left: 0;*/
    float: left;
}
#shop_nt {
	color:white;
	text-align: center;
	padding-top:30px;
	font:bold 20px 'malgun gothic';
}
#shop_p_img {
	width:200px;
	height: 400px;
    /*border:solid 1px gray;*/
	/*position: absolute;*/
	/*left: 200px;*/
    float: left;
}
#shop_p_info {
	width:60%;
	height:100%;
	border-left:solid 1px gray;
	border:solid 1px gray;
    float: right;
    padding: 30px 50px 30px 50px;
	background:#f3f3f3;
}
#order_info {
    margin: 0 auto;
	width:60%;
/*	height:40%;*/
	border-left:solid 1px gray;
	border:solid 1px gray;
    padding: 30px 20px 10px 20px;
	background:#f3f3f3;
    font-size: 1.3em;
}
#shop_p_info > ul > li   {
	line-height: 40px;
}
#shop_icon {
	margin-top:15px;
}
#shop_icon > ul > li {
	float:left;
	margin-left: 15px;
}
#shop_p_info2 {
	width:700px;
	height: auto;
	border:solid 1px gray;
	position: relative;
	left: 100px;
}
#sub{
	width: 100%;
/*	position: relative;*/
    clear: both;
/*	padding-top:10px;*/
/*    text-align: center;*/
}
#conf{
	width: 100%;
}
#order{
    text-align: center;
}
#submit_form{
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background:#f3f3f3;
}
.valid {
    color: red;
}
#btnSubmit{
    background:lightgray;
}
#orderDetail{
    text-align: center;
}